* {
    margin: 0rem;
    padding: 0rem;
}

body {
    background: #6495ED;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background: grey;
    height: 115px;
    width: 100%;
    margin-bottom: 5rem;
}

.headbar {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    width: 140px;
    height: 90px;
    margin: 1rem 0rem 1rem 0rem;
}

.logo {
    margin-left: 10%;
}

.menus {
    width: 50%;
    margin-left: 10%;
    font-size: 1.5rem;
}

.menus ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#bestMovie {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#bestMovie__image img {
    height: 400px;
    box-shadow: 30px -10px grey;
}

.bestMovie__visual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3rem;
}

.button {
    height: auto;
    width:  80px;
}

#bestMovie__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 100px;
    text-shadow: 4px 4px 2px grey;
    text-align: center;
}

.movie__box {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 25px;
    margin-top: 40px;
}

.movie__box img {
    box-shadow: 5px -5px grey;
}

.movie__box--best {
    width: 90%;
    height: 400px;
    margin: 0 6rem;
    margin-left: 10%;
    margin-bottom: 5rem;
    flex-flow: row-wrap;
}

.movies__category--best {
    margin: 0 6rem;
}

.category {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.category__title h1{
    margin-left: 8rem;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: bold;
    align-self: flex-start;
}

.category__box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category__prev, .category__next {
    cursor: pointer;
    font-size: 50px;
    color: black;
    width: 50px;
    height: 65px;
    text-align: center;
    align-self: center;
}

.category__prev{
    order: -1;
}

.category__next {
    margin-left: 10%;
    order: 1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
}

/* Modal Content */
.modalContent {
    background-color: #00008B;
    margin: auto;
    padding: 20px;
    border: 5px solid black;
    width: 80%;
}

.infoModal p {
    margin-bottom: 10px;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
